@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mgumik');
  src:  url('../fonts/icomoon.eot?mgumik#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mgumik') format('truetype'),
    url('../fonts/icomoon.woff?mgumik') format('woff'),
    url('../fonts/icomoon.svg?mgumik#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-magnifier:before {
  content: "\e906";
}
.icon-paperplane:before {
  content: "\e907";
}
.icon-mouse:before {
  content: "\e908";
}
.icon-display:before {
  content: "\e956";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-app_settings_alt:before {
  content: "\e904";
}
.icon-school:before {
  content: "\e901";
}
.icon-security:before {
  content: "\e902";
}
.icon-phone_in_talk:before {
  content: "\e903";
}
.icon-bar-graph:before {
  content: "\e905";
}
.icon-x:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e900";
}
