/*Header*/

@media (min-width: 768px) {
        #bottom-header-one {
        display: none;
    }
    
    #header-phone {
        display: none;
    }
    #bottom-header-two {
        display: flex;
        box-sizing: border-box;
    }

    #search-hidden {
        background-color: #fff;
        border: 1px solid #e5e5e5;
        width: 174px;
        margin-top: auto;
        margin-bottom: auto;
        height: 56px;
    }

    #submit-hidden {
        outline: none;
        padding: 7px 20px 3px;
        height: 56px;
        font-size: 30px;
        border-radius: 0 3px 3px 0;
        border: none;
        vertical-align: bottom;
        background-color: #999aa2;
        color: #fff;
        align-self: center;
        line-height: normal;
    }
    #submit-hidden:hover {
        background-color: #84858f;
        border-color: #797a85;
        cursor: pointer;
    }

    #menu-and-hidden {
        display: flex;
        margin-left: 20px;
    }

    #menu-placement {
        margin-left: 20px;
        display: inline-block;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #submit-hidden a span {
        font-weight: 400;
        font-size: 23px;
        line-height: 1;
    }

    #heading {
        display: flex;
        justify-content: space-evenly;
    }
}

@media (min-width: 992px) and (max-width: 1259px) {
    #search-hidden {
        display: none;
    }
    #submit-hidden {
        border-radius: 3px;
    }
}

@media (min-width: 992px) {
    #support {
        display: block;
    }
    #contact {
        display: block;
    }

    header #top-header #netmatters {
        width: 41.66666667%;
        float: left;
    }

    #header-buttons {
        width: 58.33333333%;;
    }

    #bottom-header-update {
        display: block;
    }

    .bottom-header-service:hover .dropdown-menu {
        display: block;
    }
    
    header, 
    #heading {
        padding: 0;
    }

    #top-header {
        padding: 20px 15px;
    }
}

@media (min-width: 1260px) {
    #it:hover .menu-tab:before,
    #digital-marketing:hover .menu-tab:before,
    #telecom-services:hover .menu-tab:before,
    #web:hover .menu-tab:before,
    #cyber-security:hover .menu-tab:before,
    #developer-course:hover .menu-tab:before   {
        border-width: 35px 83.5px 0;
        top: 162%;
    }
    #con-and-dev:hover .menu-tab:before {
        border-width: 35px 83.5px 0;
    }
    header #top-header #netmatters {
        width: 33.33333333%;
        float: left;
    }
    #header-buttons {
        width: 66.66666667%;
    }
}

/*Still-Bar*/
@media (max-width: 991px) {
    #still-bar #overlay {
        text-align: center;
    }
    #still-bar img {
        opacity: 0.5;
    }
}

@media (min-width: 553px) {
    #still-bar #overlay {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 896px) and (max-width: 991px) {
    #still-bar #overlay {
        width: 750px;
    }
}

@media (min-width: 992px) {
    #still-bar #overlay h1 {
        font-size: 4rem;
        line-height: 5rem;
    }
    #still-bar #overlay p {
        font-size: 1.625rem;
        line-height: 2.5rem;
    }
    #overlay {
        width: 970px;
        text-align: left;
        padding-top: 2rem;
        padding-bottom: 3.75rem;
    }
    .menu-positioning {
        width: 970px;
    }
    #still-bar img {
        opacity: 0.75;
    }
    #still-bar::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(270deg, transparent 25%, rgba(0,0,0,.7));
    }
}

@media (min-width:1260px) {
    #overlay,
    .menu-positioning {
        width: 1200px;
    }
}

@media (min-width:1415px) {
    #still-bar img {
        width: 100%;
    }
}

/*Services*/

@media (min-width: 768px) {
    #service-roof h2 {
        display: block;
        float: right;
        margin-left: 20px;
        font-size: 2.25rem;
        font-weight: 600;
        color: #333645;
        line-height: 1.1;
        letter-spacing: 0.4px;
    }

    #service-roof {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    #services-group-two {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
    }

    #services-group-two .service-box {
        display: flex;
        flex-direction: column;
    }

    #services-group-two .service-box h3 {
        margin-top: 0;
    }

    #view-our-work {
        display: none;
    }

    #services {
        width: 750px;
        margin-right: auto;
        margin-left: auto;
    }

    .service-box .service-button {
        max-width: fit-content;
        display: grid;
        justify-self: center;
        align-self: center;
    }
}

@media (min-width: 992px) {
    #services-group-one {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #services-group-one .service-box {
        display: flex;
        flex-direction: column;
    }

    #services-group-one .service-box h3 {
        margin-top: 0;
    }

    #services {
        width: 970px;
    }
}

@media (min-width: 1260px) {
    #services {
        width: 1200px;
    }

    #services-group-two {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #services h1 {
        margin-top: 5px;
    }
}

/*Partners*/
@media (min-width: 620px) {
    #partner-three {
        display:block;
    }
}

@media (min-width: 875px) {
    #partner-four {
        display:block;
    }
}

@media (min-width: 1200px) {
    #partner-five {
        display:block;
    }
}

@media (min-width: 1450px) {
    #partner-six {
        display:block;
    }
}

@media (min-width: 1825px) {
    #partner-seven {
        display:block;
    }
}

@media (min-width: 1910px) {
    #partner-eight {
        display:block;
    }
}

/*Welcome To Netmatters*/

@media (max-width: 537px) {
    #lower-button {
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
    #why-us {
        margin-bottom: 50px;
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    #welcome-positioning {
        display: flex;
        flex-wrap: wrap;
    }
    .welcome-both {
        padding: 0 15px;
        width: 50%;
        float: left;
    }
    #lower-button {
        margin-top: 20px;
    }
    #why-us {
        display: block;
        width: 60%
    }
}

@media (min-width: 1260px) {
    #why-us {
        width: 100%
    }
    #lower-button {
        margin-top: 0px;
    }
}

/*Articles*/

@media (min-width:768px) {
    #box h3 {
        float: right;
        margin-left: 20px;
        margin-bottom: 15px;
        display: block;
        font-size: 1.625rem;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: 0.4px;
        margin-top: 0;
        color: #333645;
    }

    #box {
        display: flex;
    }

    #job-position {
        display: none;
    }

    #article-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .article-position {
        width: 50%;
        float: left;
        padding: 0 15px;
    }

    #view-all {
        display: none;
    }

    .article-desc h5 {
        min-height: 3rem;
    }

}

@media (min-width: 768px) and (max-width: 1259px) {
    .article-desc .paragraph-sizing {
        min-height: 66px;
    }
}

@media (min-width: 1260px) {
    #job-position {
        display: block;
        width: 33.33333333%;
        float: left;
    }

    #software-position {
        width: 33.33333333%;
    }

    #ai-position {
        width: 33.33333333%;
    }
}

/*Clients*/

@media (min-width: 650px) {
    #searles {
        display:block;
    }
}

@media (min-width: 930px) {
    #busseys {
        display:block;
    }
}

@media (min-width: 1220px) {
    #crane {
        display:block;
    }
}

@media (min-width: 1400px) {
    #black-swan {
        display:block;
    }
}

@media (min-width: 1700px) {
    #xupes {
        display:block;
    }
}

@media (min-width: 1825px) {
    #beat {
        display:block;
    }
}
/*Footer*/

@media (max-width: 767px) {
    #top-positioning {
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (min-width: 481px) {
    #socials a {
        max-width: fit-content;
    }
}

@media (min-width: 768px) {
    #bottom-positioning {
        flex-grow: 1;
    }

    .footer-menu {
        width: 50%;
        float: left;
    }

    #floor-link {
        list-style-type: '- ';
    }

    footer #floor-wrapper #floor-details {
        flex-direction: row;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .footer-menu {
        float: left;
        width: 25%;
    }

    .container {
        width: 970px;
    }
}

@media (min-width:1260px) {
    #footer-positioning {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #top-positioning {
        width: 400px;
    }

    footer {
        padding: 47px 0 0;
    }

    .container {
        width: 1200px;
    }
    
}

/* Bug Fixes*/

/* Puts a red outline over every container so overlapping is visable (For bugfixing*/
/*
* {
    pointer-events: auto !important;
    background: rgba(255,0,0,0.1) !important;
} 
*/  