@mixin welcome-buttons {
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 6px;
    color: white;
    height: auto;
    border: 0px;
    display: inline-block;
}

@mixin client-buttons {
    color: #fff;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 3px;
    white-space: normal;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    margin-bottom: 0;
    margin-top: 11px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.4px;
}
