
/*Header*/

header {
    display: block;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
}

#heading {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

header #heading #top-header {
    display: flex;
    justify-content: center;
}

#bottom-header-two {
    display: none;
}

#bottom-header-update {
    background-color: #333645;
    display: none;
    width: 100%;
    border: 0 solid #333645;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

#header-tabs {
    display: flex;
    justify-content: space-between;
}

#header-floor {
    position: relative;
}

.menu-tab {
    position: relative;
}

/*Still Bar*/

#still-bar {
    height: 550px;
}

#still-bar {
    text-align: center;
    color: white;
    display:block;
    position: relative;
    background-color: black;
}

#still-bar div {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.375rem;
    line-height: 1.75rem;
    letter-spacing: 0.4px;
}

#overlay {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3.75rem 0;
    width: 100%;
}

/*Services*/

#services {
    text-align: center;
    padding: 50px 15px;
}

.service-box .service-desc{
    margin-bottom: 13px; 
    line-height: 1.375rem;
    display: block;
    font-size: 0.8125rem;
    letter-spacing: 0.4px;
}

/*SERVICES HOVER*/

#consultancy:hover {
    background-color: #67809f;
}

#it-support:hover {
    background-color: #4183d7;
}

#marketing:hover {
    background-color: #2ecc71;
}

#telecoms:hover {
    background-color: #d64541;
}

#web-design:hover {
    background-color: #926fb1;
}

#security:hover {
    background-color: #f62459;
}

#training:hover {
    background-color: #ce4125;
}

.service-box:hover,
.service-box:hover .service-desc,
.service-box:hover h3 {
    color: white;
}

/*SERVICES HOVER END*/

.holding {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: inherit;
    margin:auto
}

.item {
    position: relative;
    width: auto;
    height: 70px;
}

/*Welcome to Netmatters*/

#welcome {
    padding: 50px 15px;
    color: white;
}

.netmatters-is {
    margin-bottom: 25px;
    display: block;
    text-align: left;
    line-height: 1.875rem;
    font-size: 1rem;
    letter-spacing: 0.4px;
}

#welcome #intro {
    font-weight: 600;
}

#welcome #intro a:hover {
    text-decoration: underline;
}

#welcome blockquote {
    margin: 0 0 25px 0;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 600;
    line-height: 1.875rem;
    letter-spacing: 0.4px;
}

#citation {
    display: block;
    margin-bottom: 25px;
    line-height: 1.875rem;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    color: #a3a8ac;
    font-weight:600;
}

#welcome-positioning {
    padding: 0;
}

#header-buttons {
    padding: 7px 15px;
    float: right;
}
/*articles*/

#block {
    padding-bottom: 50px;
    padding-top: 15px;
}

.article-position {
    padding: 0, 15px;
    position: relative;
    min-height: 1px;
}

.articles .article-position .block:not(.top) {
    border-top: 0;
    border-radius: 0 0 3px 3px;
}

.article-desc {
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
}

.article-desc p {
    display:block;
    margin-bottom: 25px;
    line-height: 1.375rem;
    font-size: .8125rem;
    letter-spacing: 0.4px;
    color: rgb(102, 102, 102)
}

.footnote {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    display: table;
    width: 100%;
    font-size: .875rem;
    letter-spacing: 0.4px;
    line-height: 1.42857143;
    font-weight: normal;
}

.footnote>* {
    display: table-cell;
    vertical-align: middle
}

.author p {
    margin-bottom: 0;
    color: rgb(102, 102, 102);
}

.image-holder {
    position: relative;
    display: block;
}

#software,
#ai,
#job     {
    display: block;
    margin-top: 30px;
}

.transitioned:hover {
    position: relative;
    top: -10px;
    transition: 0.5s ease;
}

/*Clients*/

.client .description {
    display: none;
    position: absolute;
    bottom: 100%;
    left: -200px;
    right: -200px;
}

.client .description .box {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    max-width: 280px;
    margin: 0 auto 50px;
    text-align: center;
}

.client .description .box p {
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-bottom: 0;
    letter-spacing: 0.4px;
}

.client .description .box .box-bottom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -36px;
    line-height: 1.42857143;
}

#box-bottom-alt {
    line-height: 1.48 !important;
}

.client .description .box .box-bottom:after {
    content: "";
    margin: auto;
    display: inline-block;
    border-color: #333645 transparent transparent;
    border-style: solid;
    border-width: 35px 36px 0;
}

.client:hover .description {
    display: block;
}

/*footer*/

footer {
    padding: 27px 0 0;
    color: white;
    position: relative;
}

#top-positioning {
    display: flex;
    justify-content: space-between;
}

footer #footer-top-positioning #footer-section {
    width:auto;
}

*, :after, :before {
    box-sizing: border-box;
}

footer #footer-positioning #bottom-positioning {
    display: flex;
    flex-wrap: wrap;
}

#bottom-positioning {
    margin-left: -15px;
    margin-right: -15px;
}

.footer-menu {
    margin-bottom: 30px;
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

*#bottom-positioning>* {
    flex: 0 0 auto;
    max-width: 100%;
}

footer #floor-wrapper {
    display: flex;
    margin-left: 0;
    width: 100%;
    padding: 15px 15px 10px 15px;
    font-size: 0.8125rem;
    line-height: 1.42857143;
    letter-spacing: 0.4px;
    flex-direction: column;
}

#floor-details {
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: auto;
    margin-right: auto;
}