
/*Header*/

header {
    display: block;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
}

#heading {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

header #heading #top-header {
    display: table;
    width: 100%;
    margin: 0;
}

header #netmatters {
    height: auto;
    vertical-align: middle;
    float: none;
    width: 100%;
    display: table-cell;
}

#header-phone {
    display: table-cell;
}

header img {
    max-width: 100%;
    display: block;
}

#header-phone {
    padding-left: 20px;
    padding-right: 20px;
}

header #header-floor #bottom-header-one #search-first {
    background-color: rgba(0, 0, 0, .1);
    outline: 1px solid hsla(0, 0%, 100%, .2);
    border: 2px solid rgba(0, 0, 0, .1);
    transition: none;
    width: 100%;
    padding-right: 40px;
}

#bottom-header-one #search-first {
    display: inline-block;
}

.search-tray {
    height: 47px;
    padding: 5px 15px;
    background-image: none;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

#bottom-header-two {
    display: none;
}
search-hidden

/*Still Bar*/

#still-bar {
    height: 550px;
}

#still-bar {
    text-align: center;
    color: white;
    display:block;
    position: relative;
    background-color: black;
}

#still-bar h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
}

#still-bar div {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.375rem;
    line-height: 1.75rem;
    letter-spacing: 0.4px;
}

#still-bar #overlay a {
    margin-top: 1.938rem;
    margin-bottom: 1.125rem;
    padding: 5px 20px;
    font-size: 1.25rem;
    background-color: #926fb1;
    border: solid 1px #926fb1;
    height: auto;
    border-radius: 3px;
    line-height: 50px;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    font-weight: 400;
}

#overlay {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3.75rem 0;
    width: 100%;
}

#owl-stage {
    position: absolute;
    z-index: 2;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -75%);
    width: 100%;
}


/*Services*/
#services h1 {
    font-size: 2.7rem;
    margin-top: -13px;
    color: #333645;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.4px;
}

#services {
    text-align: center;
    padding: 50px 15px;
}

#services h1 {
    text-align: left;
}

#services .service-box {
    padding: 30px;
    margin-top: 30px;
    border: 1px solid rgb(204,204,204);
    border-radius: 25px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: rgb(51, 54, 69);
    display: block;
}


.service-box h3 {
    margin-bottom: 11px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
}

.service-box .service-desc{
    margin-bottom: 13px; 
    line-height: 1.375rem;
    display: block;
    font-size: 0.8125rem;
    letter-spacing: 0.4px;
}

.service-box .service-button {
    padding: 5px 15px;
    background-color: rgb(247, 179, 34);
    border-radius: 3px;
    border-color: #f7b322;
    font-size: 1.063rem;
    line-height: 35px;
    color: white;
    box-shadow: none;
    display: inline-block;
}

/*SERVICES HOVER*/

#consultancy:hover {
    background-color: #67809f;
    color: white;
}

#consultancy:hover>.service-button {
    background-color: white;
    border-color: white;
    color: #67809f;
}

#consultancy:hover .icons {
    background-color: white;
}

#consultancy:hover .icons span {
    margin-top: 15px;
    color: #67809f;
    font-size: 30px;
}

#it-support:hover .service-desc {
    color: white;
}


#it-support:hover {
    background-color: #4183d7;
    color: white;
}

#it-support:hover>.service-button {
    background-color: white;
    border-color: white;
    color: #4183d7;
}

#it-support:hover .icons {
    background-color: white;
}

#it-support:hover .icons span {
    margin-top: 15px;
    color: #4183d7;
    font-size: 30px;
}

#it-support:hover .service-desc {
    color: white;
}


#marketing:hover {
    background-color: #2ecc71;
    color: white;
}

#marketing:hover>.service-button {
    background-color: white;
    border-color: white;
    color: #2ecc71;
}

#marketing:hover .icons {
    background-color: white;
}

#marketing:hover .icons span {
    margin-top: 15px;
    color: #2ecc71;
    font-size: 30px;
}

#marketing:hover .service-desc {
    color: white;
}


#telecoms:hover {
    background-color: #d64541;
    color: white;
}

#telecoms:hover>.service-button {
    background-color: white;
    border-color: white;
    color: #d64541;
}

#telecoms:hover .icons {
    background-color: white;
}

#telecoms:hover .icons span {
    margin-top: 15px;
    color: #d64541;
    font-size: 30px;
}

#telecoms:hover .service-desc {
    color: white;
}


#web-design:hover {
    background-color: #926fb1;
    color: white;
}

#web-design:hover>.service-button {
    background-color: white;
    border-color: white;
    color: #926fb1;
}

#web-design:hover .icons {
    background-color: white;
}

#web-design:hover .icons span {
    margin-top: 15px;
    color: #926fb1;
    font-size: 30px;
}

#web-design:hover .service-desc {
    color: white;
}


#security:hover {
    background-color: #f62459;
    color: white;
}

#security:hover>.service-button {
    background-color: white;
    border-color: white;
    color: #f62459;
}

#security:hover .icons {
    background-color: white;
}

#security:hover .icons span {
    margin-top: 15px;
    color: #f62459;
    font-size: 30px;
}

#security:hover .service-desc {
    color: white;
}


#training:hover {
    background-color: #ce4125;
    color: white;
}

#training:hover>.service-button {
    background-color: white;
    border-color: white;
    color: #ce4125;
}

#training:hover .icons {
    background-color: white;
}

#training:hover .icons span {
    margin-top: 15px;
    color: #ce4125;
    font-size: 30px;
}

#training:hover .service-desc {
    color: white;
}

/*SERVICES HOVER END*/

#view-our-work {
    color: #333645;
    font-weight: 600;
    font-size: 1.625rem;
    margin: 30px auto -70px;
    padding: 0 15px;
    
}

#view-our-work a:hover {
    text-decoration: underline;
}

#holding {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    position: relative;
    width: auto;
    height: 70px;
}

.partners {
    position: relative;
    height: 70px;
    display: inline-block;
}

.partners picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  padding: 0 20px;
}

.partners .colored {
    z-index: 1;
    position: absolute;
    opacity: 0;
}

.partners .greyscale {
    z-index: 2;
    position: relative;
    opacity: 1;
}

.partners:hover .greyscale {
    z-index: 0;
    opacity: 0
}

.partners:hover .colored {
    opacity: 1;
}

.partners img {
    height: 100%;
    width: auto;
    display: block;
}

#still-bar #overlay a:hover {
    background-color: #7e57a0;
    border-color: #7e57a0;
}
/*Welcome to Netmatters*/

#welcome {
    padding: 50px 15px;
    color: white;
}

#welcome h1 {
    margin-top: -6px;
    margin-bottom: 40px;
    font-size: 2.25em;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.4px;
}

#five-stars span {
    color: orange;
    font-size: 48px;
    display: inline-block;
    text-align: left;
    margin-bottom: 25px;
}

.netmatters-is {
    margin-bottom: 25px;
    display: block;
    text-align: left;
    line-height: 1.875rem;
    font-size: 1rem;
    letter-spacing: 0.4px;
}

#welcome #intro {
    font-weight: 600;
}

#welcome #intro a:hover {
    text-decoration: underline;
}

.info-button {
    padding: 10px 30px;
    font-size: 20px;
    margin-right:8px;
    border-radius: 6px;
    color: white;
    line-height: 35px;
    height: auto;
    border: 0px;
    display: inline-block;
    background-color: rgb(39, 41, 54);
    letter-spacing: 0.4px;
}

.info-button:hover {
    background-color: #121318;
}

#welcome h2 {
    margin-top: -6px;
    margin-bottom: 40px;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.1;
}

#welcome blockquote {
    margin: 0 0 25px 0;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 600;
    line-height: 1.875rem;
    letter-spacing: 0.4px;
}

#citation {
    display: block;
    margin-bottom: 25px;
    line-height: 1.875rem;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
}

#citation p {
    color: #a3a8ac;
    font-weight:600;
}

#citation a {
    color: white;
    font-weight: 600;
}

#citation a:hover {
    text-decoration: underline;
}

#google,
#trustpilot {
    padding: 10px 30px;
    font-size: 20px;
    margin: 20px 8px 0 0;
    border-radius: 6px;
    color: white;
    line-height: 1.42857143;
    height: auto;
    border: 0px;
    display: inline-block;
}

#google {
    background-color: rgb(67, 135, 246);
}

#google:hover {
    background-color: #166af4;
}

#trustpilot {
    background-color: rgb(0, 182, 123);
}

#trustpilot:hover {
    background-color: #009b69;
}


#reviews {
    color: white;
}

/*articles*/

.article-position .article-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
    text-decoration: none;
}

#job .image-holder .face {
    display: block;
    border-radius: 3px 3px 0 0;
    position: relative;
}

#job .image-holder .face img {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}


#block {
    padding-bottom: 50px;
    padding-top: 15px;
}

.article-position {
    padding: 0, 15px;
    position: relative;
    min-height: 1px;
}

#news {
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;
    padding: 50px 0 0 0;
}

#box{
    display: flex;
    justify-content: space-between;
}

#news h2 {
    margin: 0;
    font-size: 2.25rem;
    font-weight: 600;
    color: #333645;
    line-height: 1.1;
    letter-spacing: 0.4px;
}

.articles .article-position .block:not(.top) {
    border-top: 0;
    border-radius: 0 0 3px 3px;
}

.article-desc {
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
}

.article-desc h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 15px;
    color: #67809f;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.article-desc p {
    display:block;
    margin-bottom: 25px;
    line-height: 1.375rem;
    font-size: .8125rem;
    letter-spacing: 0.4px;
    color: rgb(102, 102, 102)
}

.article-desc button {
    background-color: rgb(247, 179, 34);
    color: white;
    border: 1px solid #f7b322;
        height: auto;
    line-height: 35px;
    padding: 5px 15px;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
}

.footnote {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    display: table;
    width: 100%;
    font-size: .875rem;
    letter-spacing: 0.4px;
    line-height: 1.42857143;
    font-weight: normal;
}

.footnote>* {
    display: table-cell;
    vertical-align: middle
}

.footnote .logo {
    border-radius: 50%;
    width: 15%;
}

.footnote .logo img {
    max-width: 47px;
}

.footnote .author {
    padding-left: 20px;
    line-height: 1.375rem;
}

.footnote .author strong {
    color: rgb(51, 54, 69);
    font-weight: 600;
}

.author p {
    margin-bottom: 0;
    color: rgb(102, 102, 102);
}

.image-holder {
    position: relative;
    display: block;
}

.image-holder a {
    background-color: #67809f;
    position: absolute;
    right: 0;
    color: #fff;
    font-size: .75rem;
    padding: 0 10px;
    line-height: 1.438rem;
    text-transform: uppercase;
    z-index: 1;
    top: 10px;
}

.image-holder .image-tag:hover {
    text-decoration: underline;
}

#software,
#ai,
#job     {
    display: block;
    margin-top: 30px;
}

#job .image-holder #special-tag {
    background-color: #4183d7;
}

#job .article-desc button {
    background-color: #4183d7;
    border-color: #4183d7;
}

#job .article-desc h5 {
    color: #4183d7;
}


#view-all {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 15px;
}

#view-all a {
    font-size: 1.625rem;
    font-weight: 600;
    color: #333645;
}

#view-all h6 {
    margin: 0 0 15px;
    display: block;
}

#view-all h6 a:hover {
    text-decoration: underline;
}

#ashcroft,
#traveller {
    filter: grayscale(1);
}

#ashcroft:hover,
#traveller:hover {
    filter: grayscale(0);
}

/*footer*/

footer {
    padding: 27px 0 0;
    color: white;
    position: relative;
}

#top-section p {
    line-height: 1.1;
    letter-spacing: 0.4px;
}

#top-positioning {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer #footer-positioning #footer-logo img {
    width: 100%;
}

footer #footer-top-positioning #footer-section {
    width:auto;
}

*, :after, :before {
    box-sizing: border-box;
}

#socials a {
  position: relative;
  z-index: 1;
  transition: background-color 0.3s ease;
}

#socials a {
    padding: 12px 22px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 35%;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    background-color: #212330;
    font-weight: 400;
    line-height: 26px;
    z-index: 1;
}

footer #footer-positioning #socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#facebook:hover {
    background-color: #3b5998;
}

#linkedin:hover {
    background-color: #0077b5;
}

#twitter:hover {
    background-color: #00aced;
}

#instagram:hover {
    background-color: #d93175;
}

footer #top-positioning #top-section p {
    margin-top: 24px;
    margin-bottom: 26px;
    display: block;
    line-height: 1.15;
    font-weight: 400;
    font-size: 1rem;
}

footer #top-positioning #footer-logo {
    width: 250px;
}

footer #footer-positioning #bottom-positioning {
    display: flex;
    flex-wrap: wrap;
}

#bottom-positioning {
    margin-left: -15px;
    margin-right: -15px;
}

footer #footer-positioning #bottom-positioning .footer-menu {
    margin-bottom: 30px;
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

footer .footer-menu li {
    list-style-type: none;
    padding: 0;
    font-size: 0.8125rem;
    line-height: 1.375rem;
    letter-spacing: 0.4px;
}

footer .footer-menu ul {
    margin: 0;
}

footer .footer-menu h6 {
    font-size: 1rem;
    margin: 0 0 26px;
    font-weight: 400;
    line-height: 1.1;
}

*#bottom-positioning>* {
    flex: 0 0 auto;
    max-width: 100%;
}

footer a:-webkit-any-link {
  color: white;
}

footer #floor-wrapper {
    display: block;
    margin-left: 0;
    width: 100%;
    padding: 15px 15px 10px 15px;
    font-size: 0.8125rem;
    line-height: 1.42857143;
    letter-spacing: 0.4px;
}

footer ul li a:hover,
footer #floor-wrapper a:hover {
    text-decoration: underline;
}