
/*Header*/
//sticky header cage
.header-navigation {
    position: relative; /* normal flow at top */
    width: 100%;
    z-index: 10; /* normal stacking */
    transition: transform 0.5s ease-out;
}

/* sticky overlay when scrolling */
.header-navigation.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.slideUp {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: transform .5s ease-out;
    position: fixed;
    z-index: 9999;
}

.slideUp .menu-tab:before,
.slideUp .dropdown-menu {
    display: none !important;
}

.slideDown {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    transition: transform .5s ease-out;
}

#header {
    display: block;
}

#sticky-header {
    display: none;
}

//sticky header cage



//cookies

#cookie-consent {
    position: fixed;
    line-height: 22px;
    z-index: 99;
    bottom: 0;
    left: 0;
    display: flex;
    background: #75788a;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    border: solid #75788a;
    border-width: 1px 1px 0 0;
    border-radius: 0;
    border-top-right-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    font-size: .8rem;
}

#cookie-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center!important;
    padding: 30px;
}

#cookie-prompt {
    position: relative;
    width: auto;
    margin: 10px;
}

#cookie-container #cookie-prompt {
    margin: auto;
}

#cookie-box {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    background-clip: padding-box;
    outline: none;
}

#cookie-header {
    padding: 15px 20px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}
#cookie-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 1.625rem;
    font-weight: 400;
    color: #333645;
    letter-spacing: .4px;
}

#cookie-body {
    position: relative;
    padding: 20px;
}
#cookie-body p {
    display: block;
    line-height: 1.875rem;
    margin-bottom: 25px;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #666;
    font-weight: 400;
}

#cookie-buttons {
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
#cookie-button-positioning {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

#cookie-settings {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    width: 100%;
}
#cookie-settings a {
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
    display: block;
    width: 100%;
    color: #fff;
    background-color: #999aa2;
    border-color: #999aa2;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    user-select: none;
    letter-spacing: .4px;
}

#cookie-accept {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
#cookie-accept a {
    color: #fff;
    background-color: #926fb1;
    border-color: #926fb1;
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
    display: block;
    width: 100%;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    user-select: none;
    letter-spacing: .4px;
}

@media (min-width: 768px) {
    #cookie-prompt {
        width: 600px;
        margin: 30px auto;
    }
    #cookie-box {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
    #cookie-settings, 
    #cookie-accept      {
        width: 50%;
        float: left;
    }
    #cookie-settings {
        margin-bottom: 0;
    }
}

// 

.netmatters-container {
    height: auto;
    vertical-align: middle;
    float: none;
    width: 100%;
    display: table-cell;
    padding: 0 15px;
}

header {
    display: block;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
}

.heading {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

header .heading .top-header {
    display: table;
}

.bottom-header-two {
    display: none;
}

.bottom-header-update {
    background-color: #333645;
    display: none;
    width: 100%;
    border: 0 solid #333645;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-tabs {
    display: flex;
    justify-content: space-between;
}

.header-floor {
    position: relative;
}

.menu-tab {
    position: relative;
}

/*Popout Menu Temp*/
#menu-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999;
    height: 100%;
    background: #333645;
    width: 275px;
    overflow: auto;
    display: none;
}
.menu-active #menu-wrapper {
    display: block;
}

#menu-bigger {
    display: none;
}

#mobile-menu-s1 {
    padding: 21px;
}
.menu-active #main {
    position: relative;
    left: -275px;
    cursor: pointer;
}
.menu-active .header-navigation.sticky {
    left:-275px;
}

#menu-colorchange {
  position: relative;
}
#menu-colorchange::after {
  content: "";
  position: fixed;
  inset: 0; /* top:0 right:0 bottom:0 left:0 */
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 999999;
}
html.menu-active #menu-colorchange::after {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

#menu-contact {
    font-size: 1.125rem;
    padding: 19px 0 18px;
    margin-top: 20px;
    border-radius: 3px;
    outline: 1px solid rgba(0, 0, 0, .25);
    border: 1px solid hsla(0, 0%, 100%, .1);
    display: block;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

#menu-wrapper .mobile-service  {
    font-size: 1.125rem;
    padding: 19px 0 18px;
    margin-top: 20px;
    border-radius: 3px;
    outline: 1px solid rgba(0, 0, 0, .25);
    border: 1px solid hsla(0, 0%, 100%, .1);
    display: block;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu-cad span {
    color: #67809f;
}
#menu-it span {
    color: #4183d7;
}
#menu-marketing span {
    color: #2ecc71;
}
#menu-telecoms span {
    color: #d64541;
}
#menu-design span {
    color: #926fb1;
}
#menu-security span {
    color: #f62459;
}
#menu-developer span {
    color: #ce4125;
}

.menu-service-list  {
    margin-top: 20px;
    border-radius: 3px;
    overflow: hidden;
    width: auto !important;
    list-style: none;
    padding: 0;
    display: block;
    font-size: 1rem;
    letter-spacing: .4px;
    line-height: 1.42857143;
}

.menu-temp {
    border-top: 1px solid rgba(0, 0, 0, .45);
}

.menu-temp a {
    border-top: 1px solid hsla(0, 0%, 100%, .05);
    display: block;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .25);
    padding: 10px;
}

#menu-wrapper .menu-perm-title {
    display: block;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    line-height: 1;
    position: relative;
}

.work-list-menu {
    padding-left: 0;
    width: auto !important;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list-perm {
    border-top: 1px solid rgba(0, 0, 0, .45);
}

.menu-list-perm a {
    border-top: 1px solid hsla(0, 0%, 100%, .05);
    display: block;
    color: #fff;
    background-color: rgba(0, 0, 0, .25);
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: .875rem;
    text-decoration: none;
    position: relative;
}

.menu-list-perm a:before {
    content: "\BB";
    padding-right: 15px;
}

.menu-hover-styling:hover .menu-perm-title,
#support-menu:hover,
#menu-contact:hover,
.menu-service-list:hover .mobile-service     {
    background-color: rgba(255, 255, 255, 0.05);
}



@media (min-width: 992px) {
    #menu-mobile {
        display: none;
    }
    #menu-bigger {
        display: block;
    }
    #menu-wrapper {
        width: 350px;
    }
    .menu-active #main, 
    .menu-active .header-navigation.sticky {
    left:-350px;
    }
}



/*Still Bar*/

#still-bar-wrapper .still-bar-carousel .still-bar {
    height: 550px;
}

.still-bar {
    text-align: center;
    color: white;
    display:block;
    position: relative;
    background-color: black;
}

.still-bar div {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.375rem;
    line-height: 1.75rem;
    letter-spacing: 0.4px;
}

.overlay {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3.75rem 0;
    width: 100%;
}

/*Services*/

#services {
    text-align: center;
    padding: 50px 15px;
}

.service-box .service-desc{
    margin-bottom: 13px; 
    line-height: 1.375rem;
    display: block;
    font-size: 0.8125rem;
    letter-spacing: 0.4px;
}

/*SERVICES HOVER*/

#consultancy:hover {
    background-color: #67809f;
}

#it-support:hover {
    background-color: #4183d7;
}

#marketing:hover {
    background-color: #2ecc71;
}

#telecoms:hover {
    background-color: #d64541;
}

#web-design:hover {
    background-color: #926fb1;
}

#security:hover {
    background-color: #f62459;
}

#training:hover {
    background-color: #ce4125;
}

.service-box:hover,
.service-box:hover .service-desc,
.service-box:hover h3 {
    color: white;
}

/*SERVICES HOVER END*/

.carousel-wrapper {
    padding: 50px 0;
    margin:auto;
    width: 100%;
}

.carousel-wrapper .item {
    width: auto;
    height: 70px;  /* fixed, never scales */
    flex-shrink: 0;
    padding: 0 20px;
}

/*Welcome to Netmatters*/

#welcome {
    padding: 50px 15px;
    color: white;
}

.netmatters-is {
    margin-bottom: 25px;
    display: block;
    text-align: left;
    line-height: 1.875rem;
    font-size: 1rem;
    letter-spacing: 0.4px;
}

#welcome #intro {
    font-weight: 600;
}

#welcome #intro a:hover {
    text-decoration: underline;
}

#welcome blockquote {
    margin: 0 0 25px 0;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 600;
    line-height: 1.875rem;
    letter-spacing: 0.4px;
}

#citation {
    display: block;
    margin-bottom: 25px;
    line-height: 1.875rem;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    color: #a3a8ac;
    font-weight:600;
}

#welcome-positioning {
    padding: 0;
}

.header-buttons {
    padding: 7px 15px;
    float: right;
}
/*articles*/

#block {
    padding-bottom: 50px;
    padding-top: 15px;
}

.article-position {
    padding: 0, 15px;
    position: relative;
    min-height: 1px;
}

.articles .article-position .block:not(.top) {
    border-top: 0;
    border-radius: 0 0 3px 3px;
}

.article-desc {
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);
}

.article-desc p {
    display:block;
    margin-bottom: 25px;
    line-height: 1.375rem;
    font-size: .8125rem;
    letter-spacing: 0.4px;
    color: rgb(102, 102, 102)
}

.footnote {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
    display: table;
    width: 100%;
    font-size: .875rem;
    letter-spacing: 0.4px;
    line-height: 1.42857143;
    font-weight: normal;
}

.footnote>* {
    display: table-cell;
    vertical-align: middle
}

.author p {
    margin-bottom: 0;
    color: rgb(102, 102, 102);
}

.image-holder {
    position: relative;
    display: block;
}

#software,
#ai,
#job     {
    display: block;
    margin-top: 30px;
}

.transitioned:hover {
    position: relative;
    top: -10px;
    transition: 0.5s ease;
}

/*Clients*/

.client .description {
    display: none;
    position: absolute;
    bottom: 100%; 
    left: -200px; 
    right: -200px;
}

.client .description .box {
    background-color: #333645;
    color: #fff;
    padding: 20px;
    font-size: .875rem;
    max-width: 280px;
    margin: 0 auto 50px;
    text-align: center;
}

.client .description .box p {
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-bottom: 0;
    letter-spacing: 0.4px;
}

.client .description .box .box-bottom {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -36px;
    line-height: 1.42857143;
}

#box-bottom-alt {
    line-height: 1.48 !important;
}

.client .description .box .box-bottom:after {
    content: "";
    margin: auto;
    display: inline-block;
    border-color: #333645 transparent transparent;
    border-style: solid;
    border-width: 35px 36px 0;
}

.client:hover .description {
    display: block;
}

.clients-carousel .slick-list {
    overflow: visible;
}

/*footer*/

footer {
    padding: 27px 0 0;
    color: white;
    position: relative;
}

#top-positioning {
    display: flex;
    justify-content: space-between;
}

footer #footer-top-positioning #footer-section {
    width:auto;
}

*, :after, :before {
    box-sizing: border-box;
}

footer #footer-positioning #bottom-positioning {
    display: flex;
    flex-wrap: wrap;
}

#bottom-positioning {
    margin-left: -15px;
    margin-right: -15px;
}

.footer-menu {
    margin-bottom: 30px;
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

*#bottom-positioning>* {
    flex: 0 0 auto;
    max-width: 100%;
}

footer #floor-wrapper {
    display: flex;
    margin-left: 0;
    width: 100%;
    padding: 15px 15px 10px 15px;
    font-size: 0.8125rem;
    line-height: 1.42857143;
    letter-spacing: 0.4px;
    flex-direction: column;
}

#floor-details {
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: auto;
    margin-right: auto;
}