/*Services*/

#consultancy button{
    background-color: #f7b322;
    border: 3px solid #f7b322;
}

#it-support button {
    background-color: #4183d7;
    border: 3px solid #4183d7;
}

#marketing button {
    background-color: #2ecc71;
    border: 3px solid #2ecc71;
}

#telecoms button {
    background-color: #d64541;
    border: 3px solid #d64541;
}

#web-design button {
    background-color: #926fb1;
    border: 3px solid #926fb1;
}

#security button {
    background-color: #f62459;
    border: 3px solid #f62459;
}

#training button {
    background-color: #ce4125;
    border: 3px solid #ce4125;
}