/*---------------Heading Headlines---------------*/

.bottom-header-service {
    color: white;
    position: static;
    display: block;
    padding: 19px 0 18px;
    text-transform: uppercase;  
    font-size: 1.125rem;
    line-height: 1;
    width: 14.5%;
} 

small {
    display: block;
    font-size: 0.625rem;
    padding-bottom: 1px;
}

.menu-positioning .dropdown-title {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 500;
    display: block;
    font-size: 2rem;
    line-height: 1.1;
}

/*---------------Still Bar Headlines---------------*/

.still-bar h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3rem;
}

/*---------------Service Headlines---------------*/

#services #service-title-left {
    font-size: 2.7rem;
    margin-top: 0;
    margin-bottom: -10px;
    color: #333645;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.4px;
    text-align: left;
    display: block;
}

#service-roof #service-title-right {
    display: none;
    margin-left: 20px;
    margin-bottom: 28px;
    vertical-align: middle;
}

#service-roof h3:hover {
    text-decoration: underline;
}

.service-box h3 {
    margin-bottom: 11px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
}

#view-our-work {
    color: #333645;
    font-weight: 600;
    font-size: 1.625rem;
    margin: 30px auto -70px;
    padding: 0 15px;    
}

#view-our-work a:hover {
    text-decoration: underline;
}

/*---------------Welcome To Netmatters Headlines---------------*/

#welcome h2 {
    margin-top: -6px;
    margin-bottom: 40px;
    font-size: 2.25em;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.4px;
}

#welcome h3 {
    margin-top: -6px;
    margin-bottom: 40px;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.1;
}

/*---------------Articles Headlines---------------*/

#box h3 {
    display: none;
}

#box h3:hover {
    text-decoration: underline;
}

#news {
    font-weight: 600;
    font-size: 2.5rem;
    margin: 0;
    padding: 50px 0 0 0;
}

#box{
    display: flex;
    justify-content: space-between;
}

#news h2 {
    margin: 0;
    font-size: 2.25rem;
    font-weight: 600;
    color: #333645;
    line-height: 1.1;
    letter-spacing: 0.4px;
}

.article-desc h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 15px;
    color: #67809f;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.footnote .author strong {
    color: rgb(51, 54, 69);
    font-weight: 600;
}

#job .article-desc h4 {
    color: #4183d7;
}

#view-all {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 15px;
}

#view-all a {
    font-size: 1.625rem;
    font-weight: 600;
    color: #333645;
}

#view-all h5 {
    margin: 0 0 15px;
    display: block;
}

#view-all h5 a:hover {
    text-decoration: underline;
}

/*---------------Clients Headlines---------------*/

.client .description .box h3 {
    position: relative;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.4px;
    color: #fff;
    padding-bottom: 17px;
    margin: 0;
}

.client .description .box-xupes h3 {
    padding: 0;
}

/*---------------Footer Headlines---------------*/

footer #top-positioning #top-section p {
    margin-top: 24px;
    margin-bottom: 26px;
    display: block;
    line-height: 1.15;
    font-weight: 400;
    font-size: 1rem;
}

#top-section p {
    line-height: 1.1;
    letter-spacing: 0.4px;
}

footer .footer-menu h4 {
    font-size: 1rem;
    margin: 0 0 26px;
    font-weight: 400;
    line-height: 1.1;
}