/*Header Icons*/
header .icon-phone_in_talk {
    font-size: 32px;
}

.icon-menu {
    font-size: 32px;
    display: table-cell;
    background-color: rgb(51, 54, 69);
    padding: 5px 15px;
    text-align: center;
    color: white;
    font-weight: 400;
    line-height: 45px;
}

.icon-magnifier {
    position: absolute;
    display: inline-block;
    right: 5px;
    font-size: 20px;
    line-height: 47px;
    box-sizing: border-box;
    text-align: center;
    overflow:visible;
    margin: 0;
}

/*Services Icons*/
.icon-app_settings_alt {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}

.icon-display {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}

.icon-bar-graph {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}

.service-box .icon-phone_in_talk {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}

.icon-embed2 {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}

.icon-security {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}

.icon-school {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}