/*Header Icons*/
header .icon-phone_in_talk {
    font-size: 32px;
}

header .icon-phone_in_talk:hover {
    text-decoration: underline;
    text-decoration-thickness: 1%;
}

.header-phone {
    display: table-cell;
    padding-left: 15px;
    padding-right: 5px;
    vertical-align: middle;
}

.icons {
    font-size: 32px;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
    color: white;
    font-weight: 400;
    line-height: 62px;
}

.hamburger {
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity,filter;
    transition-duration: .15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: rgb(51, 54, 69);
    border: 0;
    margin: 0;
    overflow: visible
}

.hamburger:hover {
    background-color: rgb(36, 35, 35);
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
    opacity: 1;
}

.hamburger-box {
    width: 33px;
    height: 19px;
    display: inline-block;
    position: relative
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1.5px
}

.hamburger-inner,.hamburger-inner:after,.hamburger-inner:before {
    width: 33px;
    height: 4px;
    background-color: white !important;
    border-radius: 0;
    position: absolute;
    transition-property: transform;
    transition-duration: .15s;
    transition-timing-function: ease
}

.hamburger-inner:after,.hamburger-inner:before {
    content: "";
    display: block
}

.hamburger-inner:before {
    top: -10px
}

.hamburger-inner:after {
    bottom: -10px
}

header .heading .menu-placement {
    float: right;
}

header .heading .menu-placement>*+* {
    margin-left: 20px;
}

header .heading .menu-placement .hamburger-box span {
    font-size: 1.438rem;
    line-height: 45px
}

header .header-floor .bottom-header-one .submit-button {
    background: none;
    border: none;
    color: #333645;
    position: absolute;
    right: 5px;
    line-height: 47px;
    font-size: 20px;
    outline: none;
    font-weight: 400;
    padding: 1px 6px;
}

.icon-magnifier {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Glyphicons Halflings;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

header .header-floor .bottom-header-one {
    margin-top: 11px;
    position: relative;
}

.con-and-dev span {
    color: #67809f;
    font-size: 1.438rem;
}

.it span {
    color: #4183d7;
    font-size: 1.438rem;
}

.digital-marketing span {
    color: #2ecc71;
    font-size: 1.438rem;
}

.telecom-services span {
    color: #d64541;
    font-size: 1.438rem;
}

.web span {
    color: #926fb1;
    font-size: 1.438rem;
}

.cyber-security span {
    color: #f62459;
    font-size: 1.438rem;
}

.developer-course span {
    color: #ce4125;
    font-size: 1.438rem;
}

.con-and-dev:hover span,
.it:hover span,
.digital-marketing:hover span,
.telecom-services:hover span,
.web:hover span,
.cyber-security:hover span,
.developer-course:hover span {
    color: white;
    text-decoration: none;
}

.menu-positioning .dropdown-item .item-icon {
    display: flex;
    justify-content: left;
    align-items: center;
    min-width: 25px;
}

/*Still Bar Icons*/
/*
    #owl-stage {
        margin-top: 10px;
        display: block;
    }

    #owl-dots {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        display: block;
    }
*/
    .slick-dots li button {
        margin: 5px 7px;
        width: 11px;
        height: 11px;
        border-radius: 30px;
        display: inline-block;
        background: #d6d6d6;
        text-align: center;
    }

    .slick-dots li.slick-active button {
        background: #869791;
        background-color: white;
        border-radius: 30px;
        border: 0px solid white;
    }

    .slick-dots li.slick-active button:after {
        content: "";
        position: relative;
        display: block;
        top: -11px;
        left: -11px;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .slick-dots li button:before {
        display: none;
    }

    .slick-dots {
    position: absolute;    
    bottom: 50px;          
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    }

/*---------------Services Icons---------------*/

#consultancy .icons{
    background-color: #67809f;
}

#it-support .icons {
    background-color: #4183d7;
}

#marketing .icons {
    background-color: #2ecc71;
}

#telecoms .icons {
    background-color: #d64541;
}

#web-design .icons {
    background-color: #926fb1;
}

#security .icons{
    background-color: #f62459;
}

#training .icons {
    background-color: #ce4125;
}

#consultancy:hover .icons {
    background-color: white;
}

#consultancy:hover .icons span {
    margin-top: 15px;
    color: #67809f;
    font-size: 30px;
}

#it-support:hover .icons {
    background-color: white;
}

#it-support:hover .icons span {
    margin-top: 15px;
    color: #4183d7;
    font-size: 30px;
}

#marketing:hover .icons {
    background-color: white;
}

#marketing:hover .icons span {
    margin-top: 15px;
    color: #2ecc71;
    font-size: 30px;
}

#telecoms:hover .icons {
    background-color: white;
}

#telecoms:hover .icons span {
    margin-top: 15px;
    color: #d64541;
    font-size: 30px;
}

#web-design:hover .icons {
    background-color: white;
}

#web-design:hover .icons span {
    margin-top: 15px;
    color: #926fb1;
    font-size: 30px;
}

#security:hover .icons {
    background-color: white;
}

#security:hover .icons span {
    margin-top: 15px;
    color: #f62459;
    font-size: 30px;
}

#training:hover .icons {
    background-color: white;
}

#training:hover .icons span {
    margin-top: 15px;
    color: #ce4125;
    font-size: 30px;
}

#services-holding [class^="icon-"] {
    line-height: 62px;
}

/*---------------Welcome to Netmatters Icons---------------*/

#five-stars span {
    color: orange;
    font-size: 48px;
    display: inline-block;
    text-align: left;
    margin-bottom: 25px;
}

/*---------------Clients Icons---------------*/

.box .icon-arrow-right2 {
    margin-left: 12px;
    vertical-align: middle;
    margin: auto -4px auto 12px;
}