/*Header Icons*/
header .icon-phone_in_talk {
    font-size: 32px;
}

.icons {
    font-size: 32px;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
    color: white;
    font-weight: 400;
    line-height: 62px;
}

.icon-menu {
    font-size: 32px;
    display: table-cell;
    background-color: rgb(51, 54, 69);
    padding: 5px 15px;
    text-align: center;
    color: white;
    font-weight: 400;
    line-height: 45px;
}

.icon-magnifier {
    position: absolute;
    display: inline-block;
    right: 5px;
    font-size: 20px;
    line-height: 47px;
    box-sizing: border-box;
    text-align: center;
    overflow:visible;
    margin: 0;
}

/*Services Icons*/



#consultancy .icons{
    background-color: #67809f;
}

#it-support .icons {
    background-color: #4183d7;
}

#marketing .icons {
    background-color: #2ecc71;
}

#telecoms .icons {
    background-color: #d64541;
}

#web-design .icons {
    background-color: #926fb1;
}

#security .icons{
    background-color: #f62459;
}

#training .icons {
    background-color: #ce4125;
}
