/*Header Icons*/
header .icon-phone_in_talk {
    font-size: 32px;
}

.icon-menu {
    font-size: 32px;
    display: block;
    background-color: rgb(51, 54, 69);
    margin-left: 20px;
    padding: 5px 15px;
    text-align: center;
    
}


/*Services Icons*/
.icon-app_settings_alt {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}

.icon-display {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}

.icon-bar-graph {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}

.service-box .icon-phone_in_talk {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}

.icon-embed2 {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}

.icon-security {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}

.icon-school {
    font-size: 32px;
    background-color: aqua;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    margin: 0 auto 17px;
    display: block;
    text-align: center;
}