/*---------------Header Navbar---------------*/

header #header-floor #bottom-header-one #search-first {
    background-color: rgba(0, 0, 0, .1);
    outline: 1px solid hsla(0, 0%, 100%, .2);
    border: 2px solid rgba(0, 0, 0, .1);
    transition: none;
    width: 100%;
    padding-right: 40px;
}

#bottom-header-one #search-first {
    display: inline-block;
}

.search-tray {
    height: 47px;
    padding: 5px 15px;
    background-image: none;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

/*---------------Header Dropdown Menu---------------*/

#con-and-dev:hover {
    background-color: #67809f;
}

#it:hover {
    background-color: #4183d7;
}

#digital-marketing:hover {
    background-color: #2ecc71;
}

#telecom-services:hover {
    background-color: #d64541;
}

#web:hover {
    background-color: #926fb1;
}

#cyber-security:hover {
    background-color: #f62459;
}

#developer-course:hover {
    background-color: #ce4125;
}

#con-and-dev:hover .menu-tab:before {
    border-color: #67809f transparent transparent;
    border-width: 35px 68px 0;
    content: "";
    position: absolute;
    bottom: -50px;
    transform: translateX(-43%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
}

#it:hover .menu-tab:before {
    border-color: #4183d7 transparent transparent;
    border-width: 35px 68px 0;
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-43%);
    top: 130%;
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
}

#digital-marketing:hover .menu-tab:before {
    border-color: #2ecc71 transparent transparent;
    border-width: 35px 68px 0;
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-43%);
    top: 130%;
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
}

#telecom-services:hover .menu-tab:before {
    border-color: #d64541 transparent transparent;
    border-width: 35px 68px 0;
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-43%);
    top: 130%;
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
}

#web:hover .menu-tab:before {
    border-color: #926fb1 transparent transparent;
    border-width: 35px 68px 0;
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-42%);
    top: 130%;
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
}

#cyber-security:hover .menu-tab:before {
    border-color: #f62459 transparent transparent;
    border-width: 35px 68px 0;
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-43%);
    top: 130%;
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
}

#developer-course:hover .menu-tab:before {
    border-color: #ce4125 transparent transparent;
    border-width: 35px 68px 0;
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-43%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 100vw;
    text-transform: capitalize;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px 0;
    z-index: 5;
}




  




#con-and-dev .dropdown-menu {
    background-color: #526781;
}

#it .dropdown-menu {
    background-color: #286abd;
}

#digital-marketing .dropdown-menu {
    background-color: #25a25a;
}

#telecom-services .dropdown-menu {
    background-color: #bc2c28;
}

#web .dropdown-menu {
    background-color: #79539a;
}

#cyber-security .dropdown-menu {
    background-color: #de093f;
}

#developer-course .dropdown-menu {
    background-color: #a3331d;
}

.menu-positioning {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: -15px auto 0 auto;
}

.menu-positioning::after {
    clear: both;
}

